.box{
            width: 500px;
            height: 500px;
            margin: 100px auto;
        }
        .image>img{
            display: block;
            width: 80px;
            height: 80px;
            margin: 0 auto;
        }
        .text{
            margin: 10px auto;
            text-align: center;
            font-size: 24px;
        }
        .phoneNumber{
            width: 70%;
            height: 40px;
            overflow: hidden;
            margin: 20px auto 0;
            border: 1px solid #dedfe0;
            border-radius: 3px 3px;
            position: relative;
        }
        .input_number{
            border: 0;
            width: 70%;
            height: 100%;
            outline: none;
            padding: 0 0 0 8px;
        }
        .sendVerifyCode{
            border: 0;
            padding: 0;
            width:67px;
            margin: 12px;
            outline: none;
            background-color: #ffffff;
            color: #d4d5d6;
            float: right;
            cursor: pointer;
            text-align: center;
        }
        .cloth1{
            width: 67px;
            height: 19px;
            background-color: #ffffff;
            position: absolute;
            top:10px;
            right: 10px;
            opacity: 0;
        }
        .code{
            width: 70%;
            height: 40px;
            margin: 20px auto 0;
            border: 1px solid #dedfe0;
            overflow: hidden;
            border-radius: 3px 3px;
        }
        .verifyCode{
            border: 0;
            width: 100%;
            height: 100%;
            outline: none;
            padding: 0 0 0 8px;
        }
        .login{
            width: 70%;
            height: 40px;
            margin: 20px auto 0;
            border-radius: 3px 3px;
            position: relative;
        }
        #button{
            border: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            color: #ffffff;
            background-color: #0b81f7;
            border-radius: 3px 3px;
            cursor: pointer;
        }
        .cloth2{
            width: 350px;
            height: 40px;
            background-color: #ffffff;
            position: absolute;
            top: 0;
            opacity: 0.5;
        }
        .prompt_message{
            width: 300px;
            height: 35px;
            margin: 0 auto;
            font: 12px/35px "Microsoft YaHei UI";
            background:rgba(0,0,0,0.7);
            color: #ffffff;
            border-radius: 5px 5px;
            text-align: center;
            top:10px;
            left: 25px;
            position: absolute;
            display: none;

        }
        .protocol{
            width: 70%;
            height: 40px;
            margin: 20px auto 0;
            overflow: hidden;
            border-radius: 3px 3px;
        }
        .span1,.span2{
            font: 12px/12px "Microsoft YaHei UI";
            color: #929395;
        }
        .span2{
            margin-right: 2px;
        }
        .protocol a{
            text-decoration: none;
            font: 12px/12px "Microsoft YaHei UI";
        }